.col-lg-3.col-md-6
  .panel(class='panel-{{colour}}')
    .panel-heading
      .row
        .col-xs-3
          i.fa.fa-5x(class='fa-{{type}}')
        |                 
        .col-xs-9.text-right
          .huge {{number}}
          |                     
          div {{comments}}
    |         
    a(ui-sref='{{goto}}')
      .panel-footer
        span.pull-left View Details
        |                 
        span.pull-right
          i.fa.fa-arrow-circle-right
        |                 
        .clearfix
