
.row
  .col-sm-3
    .sidebar
      h4 {{project.name}} source files
      ul.list-group
        li.list-group-item.project-file(ng-repeat="file in files.files | filter:{isDirectory: false} | orderBy:'name'",
          ng-class="{active: activeFile.name===file.name}", ng-click="fileClicked(file)")
          | {{file.name}} 
          i.fa.fa-circle-o-notch.fa-spin(ng-if="updating[file.name].status===0")
          i.fa.fa-warning(ng-if="updating[file.name].status===2")
        li.list-group-item
          .btn.btn-default(ngf-select="uploadFile($file)")
            i.fa.fa-plus
            |  Upload
      h4 {{project.name}} resources
      ul.list-group
        li.list-group-item(ng-repeat="file in resources.files | orderBy:'name'")
          | {{file.name}} 
        li.list-group-item
          .btn.btn-default(ngf-select="uploadResource($file)")
            i.fa.fa-plus
            |  Upload

      h4 Deploy
      a.btn.btn-info(ng-href="/deploy?project={{project.name}}") Open Deploy View
  .col-sm-9
    .the-editor(ng-if='activeFile', ui-ace='{onLoad: aceLoaded, mode: activeFile.mode}', ng-model='activeFile.content', ng-model-options='{debounce: 500}')
