
li.project-file {
  cursor: pointer;
}

.the-editor {
  height: calc(50vh);
}

@media only screen and (min-width : 768px) {
  .the-editor {
    /* Editor height 100px less than screen height */
    height: calc(100vh - 100px);
  }
}

.sidebar > .files {
  margin-top: 24px;
}
