div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-12
      h3 Projects
      ul.nav.nav-tabs.nav-stacked.col-md-3.col-lg-3.col-sm-4(ng-repeat='project in projects')
        li.project
          a(ng-href='/project/{{project.name}}')
            | {{project.name}}
    .col-sm-12
      button.btn.btn-primary.mainbutton(ng-click='openNewProjectModal()') 
        i.fa.fa-plus
        |  New Project


//footer.footer
  .container

script(type="text/ng-template", id="newproject.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title New Project
  .modal-body
    form(role="form", name="newprojectform", ng-submit="ok()")
      .form-group
        label(for="projectname") Project name:
        input.form-control(type="text", required, ng-pattern="/^[a-z][a-z0-9]*$/", id="projectname", name="projectname", placeholder="", ng-model="newproject.name")
        span.error(ng-if="newprojectform.projectname.$error.pattern") Project name must match 
          code [a-z][a-z0-9]*
        span(ng-if="newprojectform.projectname.$error.required || !newprojectform.projectname.$invalid")
          i.fa
  .modal-footer
      button.btn.btn-default(type="submit", ng-click="cancel()") Cancel
      button.btn.btn-primary(type="submit", ng-disabled="newprojectform.projectname.$invalid", ng-click="ok()") Create project
