.panel-body
  .list-group
    a.list-group-item(href='#')
      i.fa.fa-comment.fa-fw
      |  New Comment
      |             
      span.pull-right.text-muted.small
        em 4 minutes ago
    |         
    a.list-group-item(href='#')
      i.fa.fa-twitter.fa-fw
      |  3 New Followers
      |             
      span.pull-right.text-muted.small
        em 12 minutes ago
    |         
    a.list-group-item(href='#')
      i.fa.fa-envelope.fa-fw
      |  Message Sent
      |             
      span.pull-right.text-muted.small
        em 27 minutes ago
    |         
    a.list-group-item(href='#')
      i.fa.fa-tasks.fa-fw
      |  New Task
      |             
      span.pull-right.text-muted.small
        em 43 minutes ago
    |         
    a.list-group-item(href='#')
      i.fa.fa-upload.fa-fw
      |  Server Rebooted
      |             
      span.pull-right.text-muted.small
        em 11:32 AM
    |         
    a.list-group-item(href='#')
      i.fa.fa-bolt.fa-fw
      |  Server Crashed!
      |             
      span.pull-right.text-muted.small
        em 11:13 AM
    |         
    a.list-group-item(href='#')
      i.fa.fa-warning.fa-fw
      |  Server Not Responding
      |             
      span.pull-right.text-muted.small
        em 10:57 AM
    |         
    a.list-group-item(href='#')
      i.fa.fa-shopping-cart.fa-fw
      |  New Order Placed
      |             
      span.pull-right.text-muted.small
        em 9:49 AM
    |         
    a.list-group-item(href='#')
      i.fa.fa-money.fa-fw
      |  Payment Received
      |             
      span.pull-right.text-muted.small
        em Yesterday
  // /.list-group
  a.btn.btn-default.btn-block(href='#') View All Alerts
