

#network {
  height: 400px;
  border: 1px solid gray;
}


.the-editor {
  height: 400px;
}

.queryform label {
  margin-left: 8px;
  margin-right: 2px;
}

ul.appinfo {
  list-style-type: none;
  li {
    border-left: 1px solid #ddd;
    padding-left: 4px;
    margin-bottom: 4px;
  }
}
