/// Copyright (c) TUT Tampere University of Technology 2015-2016
/// All rights reserved.
///
/// Main author(s):
/// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-6.col-md-3
      h4 Projects 
        i.fa.fa-angle-right
      ul.list-group
        li.list-group-item.clickable.deployitem(ng-repeat="project in projects | orderBy:'name'", ng-click="projectClicked(project)", ng-class="{active: project._id===activeProject._id}")
          div
            span {{project.name}} 
          div
            small {{project.capabilities.join(", ") || '-'}}
        
    .col-sm-6.col-md-3(ng-hide="!activeProject")
      h4 Devices 
        i.fa.fa-angle-right
      form
        .form-group
          input(type="checkbox", id="temperaturebox", ng-model="query.capabilities.tempSensor")
          label(for="temperaturebox")  Temperature
          br
          input(type="checkbox", id="soundbox", ng-model="query.capabilities.speaker")
          label(for="soundbox") Play Sound

      ul.list-group
        span(ng-if="queryingDevices")
          i.fa.fa-spinner.fa-spin
          |  Loading
        li.list-group-item.clickable.deployitem(ng-repeat="device in data.devices",
          ng-click="deviceClicked(device)",
          ng-class="{active: device.host===activeDevice.host, error: device.error}")
          div(style="float: left;")
            div
              span {{device.host}}
            div
              small {{device.capabilities.join(", ") || '-'}}
          div(ng-if="device.error", style="float: right;")
            i.error.fa.fa-warning
          div(ng-if="!device.error && device.apps", style="float: right;")
            div(ng-if="device.apps")
              small {{device.apps.length}} apps
    .col-sm-6.col-md-3(ng-if="activeDevice")
      h4 {{activeDevice.name}} 
        i.fa.fa-angle-right
      ul.list-group
        li.list-group-item.clickable.deployitem(ng-repeat="app in activeDevice.apps", ng-click="appClicked(app)",
          ng-class="{active: app.id===activeApp.id}")
          div(style="float: left;")
            div
              span {{app.name}}
          div(style="float: right;")
            div(ng-if="app.instances")
              small {{app.instances.length}} instances
            button.btn.btn-default(ng-click="openAppDescription(app)")
              i.fa.fa-info
      button.btn.btn-default.btn-belowlist(ng-click="newApp()")
        | Push {{activeProject.name}} to {{activeDevice.name}}
      .error(ng-if="activeDevice.error")
        h5
          i.fa.fa-warning
          |  Error
        small.error {{activeDevice.error}}
    .col-sm-6.col-md-3(ng-if="activeApp")
      h4 {{activeApp.name}} 
      ul.list-group
        li.list-group-item.deployitem(ng-repeat="instance in activeApp.instances")
          div(style="float: left;")
            div
              span {{instance.id}}
            div
              small {{instance.status}}
          div(style="float: right;")
            button.btn.btn-success(ng-if="instance.status==='paused'", ng-click="setInstanceStatus(instance, 'running')")
              i.fa.fa-play
            button.btn.btn-warning(ng-if="instance.status==='running'", ng-click="setInstanceStatus(instance, 'paused')")
              i.fa.fa-pause
            button.btn.btn-default(ng-click="openLogModal(instance)")
              i.fa.fa-list
            button.btn.btn-danger(ng-click="removeInstance(instance)")
              i.fa.fa-trash
      button.btn.btn-default.btn-belowlist(ng-click="newInstance()")
        | Launch new instance
      button.btn.btn-danger.btn-belowlist(ng-click="removeApp(activeApp)")
        i.fa.fa-trash
        |  Remove {{activeApp.name}} from {{activeDevice.name}}


script(type="text/ng-template", id="appdescription.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Application {{app.name}}
  .modal-body
    table.table
      tr(ng-repeat="(k,v) in app._description")
        td {{k}}
        td {{k==='instances' ? v.length : v}}


script(type="text/ng-template", id="instancelog.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Log of {{instance.id}} at {{instance.app.device.name}}
  .modal-body
    pre
      | {{log}}

