ul.nav.navbar-top-links.navbar-right
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-envelope.fa-fw
      |   
      i.fa.fa-caret-down
    |         
    ul.dropdown-menu.dropdown-messages
      li
        a(href='#')
          div
            strong John Smith
            |                         
            span.pull-right.text-muted
              em Yesterday
          |                     
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            strong John Smith
            |                         
            span.pull-right.text-muted
              em Yesterday
          |                     
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            strong John Smith
            |                         
            span.pull-right.text-muted
              em Yesterday
          |                     
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      |             
      li.divider
      |             
      li
        a.text-center(href='#')
          strong Read All Messages
          |                     
          i.fa.fa-angle-right
    // /.dropdown-messages
  // /.dropdown
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-tasks.fa-fw
      |   
      i.fa.fa-caret-down
    |         
    ul.dropdown-menu.dropdown-tasks
      li
        a(href='#')
          div
            p
              strong Task 1
              |                             
              span.pull-right.text-muted 40% Complete
            |                         
            .progress.progress-striped.active
              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                span.sr-only 40% Complete (success)
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            p
              strong Task 2
              |                             
              span.pull-right.text-muted 20% Complete
            |                         
            .progress.progress-striped.active
              .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                span.sr-only 20% Complete
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            p
              strong Task 3
              |                             
              span.pull-right.text-muted 60% Complete
            |                         
            .progress.progress-striped.active
              .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                span.sr-only 60% Complete (warning)
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            p
              strong Task 4
              |                             
              span.pull-right.text-muted 80% Complete
            |                         
            .progress.progress-striped.active
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                span.sr-only 80% Complete (danger)
      |             
      li.divider
      |             
      li
        a.text-center(href='#')
          strong See All Tasks
          |                     
          i.fa.fa-angle-right
    // /.dropdown-tasks
  // /.dropdown
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-bell.fa-fw
      |   
      i.fa.fa-caret-down
    |         
    ul.dropdown-menu.dropdown-alerts
      li
        a(href='#')
          div
            i.fa.fa-comment.fa-fw
            |  New Comment
            |                         
            span.pull-right.text-muted.small 4 minutes ago
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            i.fa.fa-twitter.fa-fw
            |  3 New Followers
            |                         
            span.pull-right.text-muted.small 12 minutes ago
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            i.fa.fa-envelope.fa-fw
            |  Message Sent
            |                         
            span.pull-right.text-muted.small 4 minutes ago
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            i.fa.fa-tasks.fa-fw
            |  New Task
            |                         
            span.pull-right.text-muted.small 4 minutes ago
      |             
      li.divider
      |             
      li
        a(href='#')
          div
            i.fa.fa-upload.fa-fw
            |  Server Rebooted
            |                         
            span.pull-right.text-muted.small 4 minutes ago
      |             
      li.divider
      |             
      li
        a.text-center(href='#')
          strong See All Alerts
          |                     
          i.fa.fa-angle-right
    // /.dropdown-alerts
  // /.dropdown
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-user.fa-fw
      |   
      i.fa.fa-caret-down
    |         
    ul.dropdown-menu.dropdown-user
      li
        a(href='#')
          i.fa.fa-user.fa-fw
          |  User Profile
      |             
      li
        a(href='#')
          i.fa.fa-gear.fa-fw
          |  Settings
      |             
      li
        a(href='http://www.strapui.com/')
          i.fa.fa-eye.fa-fw
          |  Premium Angular Themes
      |             
      li.divider
      |             
      li
        a(ui-sref='login')
          i.fa.fa-sign-out.fa-fw
          |  Logout
    // /.dropdown-user
  // /.dropdown
