div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-4
      form
        .form-group
          label(for="devicequery") Query:
          input.form-control(id="devicequery", type="text", ng-model="devicequery", ng-model-options='{debounce: 200}')
      //.the-editor(ui-ace='{onLoad: aceLoaded, mode: activeFile.mode}', ng-model='activeFile.content', ng-model-options='{debounce: 500}')
      ul.list-group
        li.list-group-item(ng-repeat="device in selectedDevices")
          i.fa {{device.code}} 
          | 
          span {{device.name}}
      

    .col-sm-8
      #network
        vis-network(data="graphData", options="graphOptions", events="graphEvents", component="network")
