div(ng-include='"components/navbar/navbar.html"')

.container
  .jumbotron(ng-if="deployments.length", style="text-align:center; padding:24px;")
    | You have staged deployment changes
    br 
    button.btn.btn-default(ng-click="discardDeployment()") Discard
    |  
    button.btn.btn-primary(ng-click="verifyDeployment()") Verify
  .row
    .col-sm-4
      p {{selectedDevices.length}} devices selected
      p
        .btn-group(role="group")
            button.btn.btn-default(ng-disabled="!selectedDevices.length", ng-click="openManageAppsModal()") Deploy Apps

      ul.list-group(ng-init="shownIndex = -1")
        li.list-group-item(ng-repeat="device in selectedDevices", ng-click="$parent.shownIndex = $index")
          i.fa {{device.code}} 
          |  
          strong {{device.id}}
          |  
          div
            ul.appinfo
              li(ng-repeat="app in device.apps")
                strong {{app.name}} {{app.version}}
                |  {{app.status}}
                br
                .btn-group(role="group")
                    a.btn.btn-default(ng-if="app.name.indexOf('liquidiot-')===0", ng-href="/project/{{app.name.slice(10)}}")
                      i.fa.fa-edit
                    button.btn.btn-default(ng-click="openLogModal(device, app)")
                      i.fa.fa-list
                    button.btn.btn-primary(ng-if="app.status==='paused'", ng-click="setAppStatus(device, app, 'running')")
                      i.fa.fa-play
                    button.btn.btn-primary(ng-if="app.status==='running'", ng-click="setAppStatus(device, app, 'paused')")
                      i.fa.fa-pause
                    button.btn.btn-danger(ng-click="removeApp(device, app)")
                      i.fa.fa-trash

          div
            small
              code(ng-repeat="cls in device.classes") {{cls}}
      
    .col-sm-8
      p
        | Select devices compatible with project:
        .btn-group(role="group")
            button.btn.btn-default(ng-repeat="project in projects", ng-click="selectDevicesForProject(project)") {{project.name}}
      p
        | Or query devices:
        form.form-inline.queryform
          label(for="devicequery") Device:
          input.form-control(id="devicequery", type="text", ng-model="devicequery", ng-model-options='{debounce: 200}')
          label(for="appquery") App:
          input.form-control(id="appquery", type="text", ng-model="appquery", ng-model-options='{debounce: 200}')
      #network
        vis-network(data="graphData", options="graphOptions", events="graphEvents", component="network")
      p
        button.btn.btn-default(ng-click="loadDevices()")
          span.fa.fa-refresh

script(type="text/ng-template", id="manageapps.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Deploy Applications
  .modal-body
    form.form(name="form")
      .form-group
        label(for="selectproject") Deploy application
        |  
        select.form-control(id="selectproject", ng-model="selectedProject")
          option(ng-repeat="project in projects") {{project.name}}
        |  
        //label to
        //br
        //input(id="radio-all", type="checkbox", value="all", ng-model="allDevices", ng-init="allDevices = true")
        //label(for="radio-all")  all
        //input.form-control(ng-disabled="allDevices", type="number", ng-model="numDevices")
        //label  devices matching the query
          //code  {{query}}
          //| . 
        label
          span(ng-if="devicequery") to all the devices matching the query
            code  {{devicequery}}
          span(ng-if="!devicequery") to all the devices
          span(ng-if="appquery")  with an app matching
            code {{appquery}}
          | . 
        small  (Approx. {{devices.length}} such devices.)

      //.form-group
        input(id="remove-old", type="checkbox", ng-model="removeOld")
        label(for="remove-old")
          |  Remove earlier versions of {{selectedProject || "the same app"}}
    //p
      | Query: 
      code {{query}}
    .modal-footer
      button.btn.btn-default(ng-disabled="!selectedProject", ng-click="done()") Stage deployment
    //ul.list-group(ng-init="shownIndex = -1")
      li.list-group-item(ng-repeat="device in devices", ng-click="$parent.shownIndex = $index")
        i.fa {{device.code}} 
        |  
        strong {{device.id}}
        |  
        div(ng-if="device.apps.length")
          small Apps: 
            strong(ng-repeat="app in device.apps")
              | {{app.name}} {{app.version}}
        div(uib-collapse="$parent.shownIndex!==$index")
          small Device classes: 
            code(ng-repeat="cls in device.classes") {{cls}}
      
script(type="text/ng-template", id="verifydeployment.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Deploy
      span(ng-if="deploying")
        |  
        i.fa.fa-spinner.fa-spin
  .modal-body
    ul.list-group
      li.list-group-item(ng-repeat="deployment in deployments")
        | Deploy the latest version of 
        strong {{deployment.project}}
        |  to
        |  
        span(ng-if="deployment.n==='all'") all the 
        span(ng-if="deployment.n!=='all'") {{deployment.n}}
        |  devices matching 
        strong
          code {{deployment.query}}
        |  (approx. {{deployment.numApproxDevices}} such devices)
        ul
          li(ng-if="deployment.removeOld")
            | Remove earlier versions of the app
  .modal-footer
    button.btn.btn-default
      i.fa.fa-save
      | 
      | Save for later
    button.btn.btn-primary(ng-click="deploy()")
      i.fa.fa-paper-plane
      | 
      | Deploy

script(type="text/ng-template", id="applog.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Log of {{app.id}} at {{device.id}}
  .modal-body
    pre
      | {{log}}

