nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      |             
      span.icon-bar
      |             
      span.icon-bar
      |             
      span.icon-bar
    |         
    a.navbar-brand(href='index.html') SB Admin v2.0
  header-notification
  sidebar(files="sidebar.files", items="sidebar.items")
